<template>
  <footer class="footer drac-bg-black">
    <div class="drac-box">
      <span class="drac-text drac-text-purple drac-text-sm">
        © {{ new Date().getFullYear() }} Copyright: Connard
      </span>
    </div>
  </footer>
</template>

<style scoped>
.footer {
  width: 100%;
  position: fixed;
  padding: 10px;
  bottom: 0;
  left: 0;
}
</style>
