<template>
  <nav class="navbar fixed-top drac-bg-black">
    <a class="navbar-brand" href="#">
      <img
        alt="Vue logo"
        src="../assets/logo.png"
        style="width: 35px !important; height: 35px !important"
        class="d-inline-block align-top drac-avatar drac-bg-green-transparent drac-text-green drac-ml-sm"
      />
      <span
        class="d-inline-block drac-text drac-pl-xs drac-text-lg drac-text-bold drac-text-orange"
      >
        Contactor
      </span>
    </a>
  </nav>
</template>
