<template>
  <transition name="flip">
    <div
      class="contact-card drac-rounded-xl drac-m-sm"
      v-bind:key="contact.flipped"
      v-bind:class="contact.flipped ? 'drac-p-xs' : 'drac-py-sm drac-px-md'"
    >
      <div v-if="!contact.flipped">
        <div class="text-nowrap">
          <i
            class="fa-solid fa-user drac-text-cyan-green"
            style="position: relative; top: -2px"
            >&nbsp; &nbsp;
          </i>
          <span
            :title="contact.name"
            class="drac-heading drac-heading-xl drac-text-semibold drac-text-white-cyan"
            >{{ initials(contact.name) }}</span
          >
        </div>
        <hr
          class="opacity-75 drac-divider drac-bg-cyan-green"
          style="margin-bottom: 20px"
        />
        <span
          :title="getDate(contact.lastContact)"
          class="drac-text drac-text-white-cyan"
          >{{ getDay(contact.lastContact) }}
        </span>
        <i
          class="fa-solid fa-person-walking-dashed-line-arrow-right drac-text-cyan-green drac-mx-xxs"
        >
        </i>
        <span
          :title="getDate(contact.nextContact)"
          class="drac-text drac-text-bold drac-text-white-cyan"
          >{{ getDay(contact.nextContact) }}</span
        >
        <hr
          class="opacity-75 drac-divider drac-bg-cyan-green"
          style="margin-top: 20px"
        />
        <i class="fa-solid fa-cake-candles drac-text-cyan-green"
          >&nbsp;&nbsp;
        </i>
        <span
          :title="this.getDate(contact.birthdate)"
          class="drac-text drac-line-height drac-text-white-cyan"
          >{{ getDay(contact.birthdate) }}</span
        >
      </div>
      <div v-else class="overflow-auto h-100">
        <i class="fa-solid fa-address-book drac-text-cyan-green"
          >&nbsp; &nbsp;
        </i>
        <span class="drac-text drac-text-cyan-green drac-text-bold drac-text-lg"
          >Contact Info</span
        >
        <br />
        <div
          v-for="(mediumValue, contactMedium) in contact.contactInfo"
          :key="contactMedium"
          class="d-flex justify-content-center align-items-center"
        >
          <i
            class="drac-text-cyan fa-xs"
            :class="communicationMediumIcons[contactMedium]"
            >&nbsp;
          </i>
          <span
            class="drac-text drac-line-height drac-text-xs drac-text-semibold drac-text-white-cyan"
            >{{ mediumValue }}</span
          >
        </div>
        <hr class="opacity-75 drac-divider drac-bg-cyan-green" />
        <i class="fa-solid fa-file-lines drac-text-cyan-green"
          >&nbsp; &nbsp;
        </i>
        <span class="drac-text drac-text-cyan-green drac-text-bold drac-text-lg"
          >Notes</span
        >
        <br />
        <p
          class="drac-text drac-line-height drac-text-xs drac-text-semibold drac-text-white-cyan"
        >
          {{ contact.notes }}
        </p>
      </div>
      <button
        class="button-invisible"
        id="button-flip"
        v-on:click="flipCard(contact)"
      >
        <i class="fa-solid fa-arrows-rotate fa-lg drac-text-purple to-cyan"></i>
      </button>
      <button class="button-invisible" id="button-edit">
        <i class="fa-solid fa-pen-to-square fa-lg drac-text-purple to-cyan"></i>
      </button>
    </div>
  </transition>
</template>

<script>
export default {
  props: {
    contact: {
      name: String,
      contactInfo: Object,
      notes: String,
      bithdate: String,
      lastContact: String,
      nextContact: String,
      triggerReminder: Boolean,
      default: () => ({ flipped: false }),
    },
  },
  data() {
    return {
      // Icons corresponding to each communication medium
      communicationMediumIcons: {
        phone: "fa-solid fa-phone",
        email: "fa-solid fa-at",
        address: "fa-solid fa-location-dot",
        telegram: "fa-brands fa-telegram",
        messenger: "fa-brands fa-facebook-messenger",
        whatsapp: "fa-brands fa-whatsapp",
      },
    };
  },
  methods: {
    getDay: function (dateString) {
      const date = new Date(dateString);
      return `${date.getDate()}/${date.getMonth() + 1}`;
    },
    getDate: function (dateString) {
      const date = new Date(dateString);
      return `${date.getDate()}/${date.getMonth() + 1}/${date.getFullYear()}`;
    },
    initials: function (fullname) {
      let initials = "";
      const [firstname, ...lastnames] = fullname.split(" ");
      lastnames.forEach((lastname) => {
        initials += lastname[0];
      });
      let shortName = `${firstname} ${initials}`;
      if (shortName.length > 13) {
        return shortName.slice(0, 13) + "…";
      }
      return shortName;
    },
    flipCard: function (card) {
      card.flipped = !card.flipped;
    },
  },
};
</script>

<style scoped>
.contact-card {
  /* Shape & Position */
  float: left;
  position: relative;
  width: 290px;
  height: 200px;
  overflow: hidden;

  /* Flip */
  will-change: transform;

  /* Gradient border */
  border: 2px solid transparent;
  background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(var(--gradientDegree), var(--cyan) 0, var(--green) 100%)
      border-box;
  box-shadow: 4px 4px 4px black;
}

.contact-card:hover {
  background: linear-gradient(var(--black), var(--black)) padding-box,
    linear-gradient(var(--gradientDegree), var(--purple) 0, var(--pink) 100%)
      border-box;
  box-shadow: 6px 6px 2px black;
}

.flip-enter-active {
  transition: all 0.4s ease;
}

.flip-leave-active {
  display: none;
}

.flip-enter-from,
.flip-leave-to {
  transform: rotateY(180deg);
  opacity: 0;
}

.button-invisible {
  padding: 0px;
  background: none;
  border: 0px none transparent;
}

.to-cyan {
  transition: 1s;
}

.to-cyan:hover,
.to-cyan:focus {
  color: var(--cyan);
}

#button-flip {
  position: absolute;
  left: 8px;
  bottom: 4px;
}

#button-edit {
  position: absolute;
  right: 7px;
  bottom: 4px;
}
</style>
