<template>
  <div class="container-lg">
    <div class="deck">
      <div v-for="contact in contacts" :key="contact.id">
        <contact-card :contact="contact" />
      </div>
    </div>
  </div>
</template>

<script>
import ContactCard from "@/components/ContactCard.vue";

export default {
  components: {
    ContactCard,
  },
  data() {
    return {
      contacts: [],
    };
  },
  mounted() {
    this.$http.get("/api/contacts").then(
      (res) => {
        this.contacts = res.data;
      },
      () => {}
    );
  },
};
</script>

<style>
.deck {
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  justify-content: center;
}
</style>
