<template>
  <app-header />
  <list-contacts />
  <app-footer />
</template>

<script>
import AppHeader from "@/components/AppHeader.vue";
import AppFooter from "@/components/AppFooter.vue";
import ListContacts from "@/components/ListContacts.vue";

export default {
  name: "App",
  components: {
    AppHeader,
    AppFooter,
    ListContacts,
  },
};
</script>

<style>
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";
@import "@dracula/dracula-ui/styles/dracula-ui.css";

#app {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 70px;
  margin-bottom: 50px;
}

:root {
  /* Apply the dracula theme and my preferences to bootstrap */
  --whiteCyan: #c8e3e3;
  --bs-body-bg: var(--blackSecondary);
  --bs-body-color: var(--whiteCyan);
  --bs-body-font-family: Fira Code, monospace;
  --bs-body-text-align: center;
}
</style>
